
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
    var imagepath = Path.Combine(Server.MapPath("~/CategoryImageUploadfiles"));
}

<!-- Container-fluid Ends-->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Categoryimage Details</h5>
        </div>
        <div class="card-body">
            <div class="btn-popup pull-right">
                <a href="@Url.Action("AddCategoryImage", "CategoryImage")" class="btn btn-secondary">Add CategoryImage</a>
            </div>
            <div id="batchDelete" class="category-table user-list order-table">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Category  </th>
                            <th>Image</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.CategoryImage)
                        {
                            <tr>
                                <td>@item.CategoryName</td>
                                <td>
                                    @*@item.ImageName*@
                                    <img src="../../CategoryImageUploadfiles/@item.ImageName" height="50" width="50" class="" />
                                </td>
                                <td> <a href="@Url.Action("Edit","CategoryImage",new {Id=@item.Id }) "><i class="fa fa-edit"></i></a> </td>
                                <td><a href="#" onclick="deleteCategoryImage(@item.Id)"><i class="fa fa-remove"></i></a> </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteCategoryImage(id) {
        if (confirm('Are you sure you want to delete this item ?')) {
            $.ajax({
                url: '/CategoryImage/DelteCategoryImage',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: '{id: "' + id + '" }',
                success: function (response) {
                    if (response) {
                        window.location.reload();
                    }
                    else {
                        alert("Somethings goes wrong please try later..!!");
                    }
                },

            });

        }
    }
    
</script>