@model IEnumerable<Domain.GRP_MASTERDomain>


<ul class="nav-cat title-font">

    @foreach (var item in Model)
    {
        if (item.ImageName == null)
        {
            <li>
                <a href="/Product/Index?catId=@item.GRP_CD">
                    <img src="~/Assets/Images/01.png" alt="category-product">@item.GRP_NAME
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="/Product/Index?catId=@item.GRP_CD">
                    <img src="../CategoryImageUploadfiles/@item.ImageName" alt="category-product">@item.GRP_NAME
                </a>
            </li>
        }
    }


    <li>
        <a class="mor-slide-click" href="@Url.Action("Index","Category")">View All category <i class="fa fa-angle-down pro-down"></i><i class="fa fa-angle-up pro-up"></i></a>
    </li>
</ul>
